.fixed__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(14, 14, 26, 0.747);
    backdrop-filter: blur(2px);
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete__playlist__card {
    position: relative;
    width: 40rem;
    padding: 1rem;
    border: 0.1rem solid var(--stripe-color);
    border-radius: 1rem;
    background-color: var(--navbar);
    backdrop-filter: blur(2px);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}



.control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.control button {
    padding: 1rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease 0.1s;

    &.delete {
        background-color: var(--color-danger);
    }

    &:hover {
        background-color: var(--hover-btn);
    }

}

@media only screen and (max-width:736px) {}